/* Styles for Ilow Sync */
.ilow-sync-settings-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.ilow-sync-qr-container {
  padding: 10px;
  background-color: white;
  border-radius: 4px;
}

#ilow-sync-reader {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
}
